body {

    font-family: Arial, sans-serif;

    background-image: url('https://github.com/mikegholmes/mikegholmes.github.io/blob/main/images/desert.jpg'); /* Replace with your desert image */

    background-size: cover;

    background-repeat: no-repeat;

    

    padding: 20px;

}


header {

    text-align: center;

}


section {

    margin-bottom: 20px;

    padding: 20px;

    background-color: rgba(0, 0, 0, 1.7);

    border-radius: 10px;

}


footer {

    text-align: center;

}
